@model LTTW_Library.Models.Book
@{
    ViewBag.Title = "Book-Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Details</h2>

<h3>Title:    @Model.Title</h3>
<h3>ISBN:     @Model.Isbn</h3>
<h3>Stock:         @Model.Stock</h3>

