@model LTTW_Library.Models.Customer
@{
    ViewBag.Title = "Customer-Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>

<h3>First Name:    @Model.First</h3>
<h3>Last Name:     @Model.Last</h3>
<h3>Email:         @Model.Email</h3>
<h3>Phone:         @Model.Phone</h3>

